table {
    border: 1px solid;
    background-color: rgb(219, 159, 219);
    border-radius: 10px;
}
th,td {
    border: 1px solid;
}
h1,h3{
    color: rgb(59, 90, 12);
    text-decoration-line: underline;
}
#table2{
    border: 0px;
    background-color: brown;
    border-radius: 10px;
}
img{
    height: 50px; 
    width: 70px;
}
#studies{
    height: 150px; 
    width: 289px;
}
body{
    background-color: aqua;
}
